<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div>
			<a href="/login">Login</a>
			<a href="/search">Search</a>
			<a href="/signup">Sign Up</a>
		<form method="POST" action="/logout?_method=DELETE">
			<button>Logout</button>
		</form>
		</div>
	<h1>Profile page</h1>
	<h2>Hi,<%= email %></h2>
</body>
</html>