<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<div>
			<a href="/login">Login</a>
			<a href="/signup">Sign Up</a>
			<a href="/profile">Profile</a>
	</div>
	<div>
		
	</div>	
	<form method="GET" action="/search">
		<input type="text" name="q" placeholder="Search">
		<button>Click me now!</button>
	</form>

	<% results.forEach(function(result) { %>
	
		<img src="<%= result.url %>" width="200">
		<form method="POST" action="/favorites">
			<input type="hidden" name="imgurl" value="<%=result.url%>">
			<button>Favorite</button>
		</form>		
	
	<% }) %>
	
</body>
</html>