<!doctype html>
<html>
<head>
    <title>Calulator App</title>
</head>
<body>
    <h1>Calulate this</h1>
    
	<form action="/add" method="POST">
		<input type="text" name="add1" placeholder="Add">
		<input type="text" name="add2" placeholder= "here">
		<input type="submit">
	</form>
    
        <form action="/subtract" method="POST">
        <input type="text" name="sub1" placeholder="Subtract">
        <input type="text" name="sub2" placeholder= "here">
        <input type="submit">
    </form>

        <form action="/multiply" method="POST">
        <input type="text" name="mult1" placeholder="Multiply">
        <input type="text" name="mult2" placeholder= "here">
        <input type="submit">
    </form>

        <form action="/divide" method="POST">
        <input type="text" name="div1" placeholder="Divide">
        <input type="text" name="div2" placeholder= "here">
        <input type="submit">
    </form>
</body>
</html>