<!doctype html>

<<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>Login to your page</h1>
		<form method="post" action="/login">
  <div>
    <input type="text" name="user[email]">
  </div>
  <div>
    <input type="text" name="user[password]">
  </div>
  <button>Login</button>
</form>




	</body>
</html>